*,
*:before,
*:after {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #fff;
}

header a {
  color: #202428;
  font-weight: bold;
  font-size: 1.25em;
}

h3 {
  color: #e1e1e2;
}

body {
  margin: 0;
  background-color: rgb(32, 35, 41);
  color: rgb(158, 158, 158);
  font-family: Arial;
}

header {
  margin: 0;
  padding: 0;
}

.articles {
  margin: 80px;
}

.article {
  background-color: #3b3e43;
  color: #f5f5f5;
  padding: 0px;
}

#caption {
  background-color: #f5f5f5;
  color: #202428;
  font-size: 3em;
  margin: auto;
  padding: 60px;
  text-align: center;
}

#hero {
  background-color: #fff;
  color: #202428;
  text-align: center;
}

.nav {
  list-style-type: none;
  display: flex;
  margin: 0;
  padding: 0;
}
